body{
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: lightgray;
}

.parentDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.StudentCardBox{
    height: 80%;
    width: 80%;    
    background-color: rgb(229, 180, 89);
    border: none;
    border-radius: 16px;
}
.inside-studentdetails-card{
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    height: 60%;
    width: 80%;
}
.custom-span{
    position: relative;
    left: 100%;
    transform: translateX(-60%);

    font-weight: 30px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.custom-input-box{
    padding: 2%;
    height: 50%;
    width: 60%;
    border: none;
    border-radius: 2px;
}
.studentinput-in-a-row{
    position: relative;
    left: 20%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
}
.btn-align{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width:100%;
}
.custom-btn {
    position: relative;
    top: -30%;
    height: 2rem;
    width: 6rem;
    max-width: auto;
    max-height: auto;
    background-color: blue;
    color: white;
    font-size: medium;
    font-weight: bold;
    border:none;
    cursor: pointer;
}
.custom-label {
    font-size: medium;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
.show-table-btn-align{
     position: relative;
     right: 5%;


}
.show-table-btn {
    color: white;
    font-weight: bold;
    height: 4rem;
    width: 3rem;
    background-color: brown;
    border: none;
    cursor: pointer;

    transition: 0.3s ease-in-out;
}
.show-table-btn:hover{
    color: white;
    font-weight: bold;
    height: 2rem;
    width: 6rem;
    background-color: brown;
    border: none;
    cursor: pointer;
}
.tableContainer {
    visibility: hidden;
    position: relative;
    top: -10%;
    margin: 2rem auto;
    width: 90%;
    max-width: 900px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.custom-table-header {
  background-color: chocolate;
  color: white;
  padding: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  font-family: sans-serif;
}
td{
    background-color: white;
}
.edit-btn{
    position: relative;
    top: 5px;
    height: 2rem;
    width: 3rem;
    background-color: blue;
    border-radius: 2px;
    font-weight: normal;
    color: white;
    border:none;
    cursor: pointer;
}
.delete-btn{
    position: relative;
    top: 5px;
    height: 2rem;
    width: 3.5rem;
    background-color: red;
    border-radius: 2px;
    font-weight: normal;
    color: white;
    border:none;
    cursor: pointer;

}
