body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: lightgrey;
}
.dark-mode{
   background-color: darkslategrey;  
   color: #f0f0f0;

   transition: 0.5s ease-in-out;
}
.dark-mode button {
  background-color: #333;
  color: white;
}

.dark-mode table {
  background-color: #1e1e1e;
  border-color: #555;
}
.dark-mode td{
    color: black;
}
.dark-mode span{
    color: white;
}
.nav-container{
    position: relative;  
    height: 10%;
    width: 100%;
    background-color: chocolate;
}
.menu-bar{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap:5%;
    justify-content: space-around;
    align-items: center;
}
.menu-span{
    position: relative;
    left:80%;
    font-weight: bold;
    color: wheat;
    font-size: 30px;
}

.parentDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 90%;
  width: 100%;
}
.formContainer{
    display: flex;
    flex-direction: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
@media (max-width: 1080px){
    .formContainer{
        flex-direction: column;
        align-items: stretch;
        max-height: 1000px;
        max-width: 400px;
    }
}
.StudentCardBox{
    height: 80%;
    width: 100%;   
    max-width: 400px; 
    background-color: rgb(229, 180, 89);
    border: none;
    border-radius: 16px;
}
.inside-studentdetails-card{
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    height: 60%;
    width: 100%;
    padding: 1%;
    right: 10%;
}
.custom-span{
    position: relative;
    left: 100%;
    transform: translateX(-60%);
    font-weight: 20%;
    font-size: 1rem;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.custom-input-box{
    padding: 2%;
    height: 50%;
    width: 60%;
    border: none;
    border-radius: 2px;
}
.studentinput-in-a-row{
    position: relative;
    left: 20%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
}
.btn-align{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width:100%;
}
.custom-btn {
    position: relative;
    top: -30%;
    height: 2rem;
    width: 6rem;
    max-width: auto;
    max-height: auto;
    background-color: blue;
    color: white;
    font-size: medium;
    font-weight: bold;
    border:none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.custom-label {
    font-size: medium;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
.show-table-btn-align{
     position: relative;
     right: 5%;
}
button:hover{
    transform: scale(1.05);
}
.show-table-btn {
    color: white;
    font-weight: bold;
    height: 4rem;
    width: 3rem;
    background-color: brown;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.show-table-btn:hover{
    color: white;
    font-weight: bold;
    height: 2rem;
    width: 6rem;
    border: none;
    cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.custom-table-header {
  background-color: chocolate;
  color: white;
  padding: 1rem;
}
th, td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  font-family: sans-serif;
}
td{
    background-color: white;
}
.edit-btn{
    position: relative;
    top: 5px;
    height: 2rem;
    width: 3rem;
    background-color: blue;
    border-radius: 2px;
    font-weight: normal;
    color: white;
    border:none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.delete-btn{
    position: relative;
    top: 5px;
    height: 2rem;
    width: 3.5rem;
    background-color: red;
    border-radius: 2px;
    font-weight: normal;
    color: white;
    border:none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}
.searchBoxContainer{
    position: relative;
    top: 20px;
    right: -50%;
    display: grid;
    grid-template-columns: repeat(2, 2rem);
    justify-content: center;
    align-items: center;
    height: 2rem;
    width:4rem;
    transition: 0.5s ease-in-out;
}
.searchBoxContainer:hover{
    transform: scale(1.08);
}
.searchbox{
    height: 2rem;
    width: 18rem;
    padding: 2px;
    padding-left: 30px;
    border:none;
    transition: 0.5s ease-in-out;
}
.searchicon{
    position: relative;
    left: 40px;
    font-weight: bold;
    color: solid gray;
}
.tableContainer {
    position: relative;
    top: -10%;
    margin: 2rem auto;
    width: 100%;
    max-width: 800px;
    height: 50%;
}
.input-table-combo{
    display: none;
}
.btn-outer-layer{
    position: relative;
    height: 2rem;
    width: 4rem;
    background-color: black ;
    border-radius: 18px;
    transition: 0.5s ease-in-out;
}
.btn-outer-layer.active{
    background-color: white;
}
.btn-inner-layer{   
    position: relative;
    top: -10%;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    z-index: 1;
} 
.btn-inner-layer.active{
    transform: translateX(2.5rem) rotate(360deg);    
    background-color: darkblue;
}
.sun-icon{
    color: orange;
    font-size: 24px;
    font-weight:bold;
}
.sun-icon.active{
    color: white;
}
.theme-animation{
    position: relative;
    left: 10%;
}

   